@model IdentitySample.Models.ForgotPasswordEmail
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>@ViewBag.Title</h2>

<h3>Thank you <strong>@Model.UserName</strong></h3>
<br />
@if (ViewBag.ErrorMessage == "")
{
    <div class="alert alert-success">
        <p>We have reset your password. A Password Reset Email has been sent to <strong>@Model.To</strong>.<br />Please check your email and click the Password Reset Link to set your login password.</p>
        <p>If you do not see this email please check your spam folder.</p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>Whoops! We are unable to send a Password Reset Email to <strong>@Model.To</strong> at this time.</p>
        <p>Plaese try Again Latter</p>
    </div>
}

